@import "mixins/font-line";
@import "mixins/media";

.c-btn {
  background-color: #000;
  border: 1px solid #fff;
  max-width: 185px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;

  &:hover {
    opacity: 0.6;
    img {
      right: -5px;
      position: relative;
    }
  }

  p {
    @include font-line(16px, 19px);
    color: #fff;
    font-family: $font-family-en;
    margin-right: 15px;
  }

  img {
    transition: 0.3s ease-in-out;
    right: 0;
  }
}
