@import "mixins/_media.scss";

.sp-only {
  display: none;
}

.pc-only {
  @include is-sp {
    display: none;
  }
}

.column-reverse {
  @include is-max($breakpoint-max-tab) {
    flex-direction: column-reverse;
  }
}
