@import "mixins/_media.scss";

.sp-only {
  display: none;
  justify-content: space-between;
  align-items: center;
  @include is-max($breakpoint-max-tab) {
    display: flex;
  }
}

.pc-only {
  display: flex;
  @include is-max($breakpoint-max-tab) {
    display: none;
  }
}

.column-reverse {
  @include is-max($breakpoint-max-tab) {
    flex-direction: column-reverse;
  }
}
.text-center {
  text-align: center;
}
