.blog-container {
  padding-top: 35px;
  @include is-min($breakpoint-sp) {
    display: flex;
    justify-content: flex-start;
    margin: 0 -16px;
    flex-wrap: wrap;
  }
  @include is-sp {
    padding-top: 25px;
  }

  .blog-item {
    @include is-min($breakpoint-sp) {
      width: calc(100% / 4);
      padding: 0 16px;
    }
    @include is-max($breakpoint-max-tab) {
      width: calc(100% / 2);
      padding: 0 16px 25px;
    }
    @include is-sp {
      padding: 0 0 25px 0;
      display: block;
      width: 100%;
    }

    .blog-img {
      aspect-ratio: 5 / 4;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .category {
      background-color: $color-sub;
      padding: 5px 15px;
      width: max-content;
      margin: 15px 0;

      @include is-sp {
        margin: 15px auto;
      }

      img {
        aspect-ratio: 1;
      }

      p {
        @include font-line(16px);
        color: #fff;
        font-weight: 400;
        text-align: center;
      }
    }
    .title {
      color: $color-text-default;
      @include font-line(16px, 30px);
      font-weight: 300;
    }
  }
}
