.page__header {
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #d29500;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include is-max($breakpoint-max-tab) {
      padding: 0 20px 0 0;
    }

    .logo {
      max-width: 320px;
      width: 100%;
      @include is-max($breakpoint-sp) {
        max-width: 193px;
      }
    }

    .link-list {
      &__item {
        position: relative;

        &:hover {
          .dropdown-item {
            display: block;
          }
        }

        @include is-sp {
          @include font-line(18px, 26px);
          font-weight: 400;
          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }

        .dropdown-item {
          display: none;
          position: absolute;
          z-index: 1;
          background-color: #000;
          float: none;
          top: 50px;
          left: 0;
          max-width: 108px;
          width: 100%;
          padding: 24px 15px;
          a {
            width: 100%;
            padding: 0;
            display: block;
          }
        }

        a {
          @include font-line(15px, 21px);
          color: #fff;
          font-family: $font-family-base;
          font-weight: 400;
          height: 100%;
          padding: 34px 0 35px;
          @include is-min($breakpoint-max-tab) {
            padding-right: 50px;
          }
        }
      }

      .c-btn {
        margin: 0 auto;
      }
    }

    &--hamburger {
      display: none;
      @include is-max($breakpoint-max-tab) {
        display: block;
      }
      &.isActive {
        span {
          z-index: 3;
          position: relative;

          &:first-child {
            transform: rotate(45deg);
            top: 2px;
            position: relative;
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
            margin-top: unset;
          }
        }
      }
      span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #fff;
        transition: 0.3s ease-in-out;
        &:not(:first-child) {
          margin-top: 3px;
        }
      }

      .nav-sp {
        display: none;
        @include is-max($breakpoint-max-tab) {
          display: none;
        }

        .header {
          padding: 0;
        }

        &.isOpen {
          text-align: center;
          display: block;
          position: fixed;
          z-index: 2;
          top: 55px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #000;

          .header {
            justify-content: center;
            padding-top: 45px;
          }
        }
      }
    }
  }
}
