.sect_1 {
  padding-top: 43px;

  .blog-container {
    padding-top: 35px;
    @include is-min($breakpoint-sp) {
      display: flex;
      justify-content: space-between;
      margin: 0 -16px;
      flex-wrap: wrap;
    }
    @include is-sp {
      padding-top: 25px;
    }

    .blog-item {
      @include is-min($breakpoint-sp) {
        width: calc(100% / 4);
        padding: 0 16px;
      }
      @include is-max($breakpoint-max-tab) {
        width: calc(100% / 2);
        padding: 0 16px 25px;
      }
      @include is-sp {
        padding: 0 0 25px 0;
        display: block;
        width: 100%;
      }

      .blog-img {
        aspect-ratio: 5 / 4;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .category {
        background-color: $color-sub;
        padding: 5px 15px;
        width: max-content;
        margin: 15px 0;

        @include is-sp {
          margin: 15px auto;
        }

        img {
          aspect-ratio: 1;
        }

        p {
          @include font-line(16px);
          color: #fff;
          font-weight: 400;
          text-align: center;
        }
      }
      .title {
        color: $color-text-default;
        @include font-line(16px, 30px);
        font-weight: 300;
      }
    }
  }
}
.sect_2 {
}
.sect_3 {
  &__title {
    text-align: center;
  }
  &__text-content {
    &.isOpen {
      max-height: 100%;
      overflow: unset;
    }
    max-width: 800px;
    max-height: 154px;
    margin: 35px auto 30px;
    overflow: hidden;

    &--text {
      @include font-line(16px, 32px);
      font-weight: 300;
    }
  }
  &__btn {
    max-width: 200px;
    margin: 0 auto;

    img {
      bottom: 0;
    }

    &:hover {
      img {
        right: unset;
        bottom: -5px;
      }
    }
  }
  &__product-images {
    padding: 30px 0 0 0;
    @include is-min($breakpoint-sp) {
      display: flex;
      flex-wrap: wrap;
    }

    .product-item {
      position: relative;
      @include is-min($breakpoint-sp) {
        width: calc(100% / 2);
      }

      &__float {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        max-width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 30px 0;
        width: 100%;

        @include is-sp {
          left: 25px;
          right: 25px;
          transform: translate(0%, -50%);
          width: auto;
        }

        & > * {
          &:not(:first-child) {
            margin-bottom: 16px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &__title {
        @include font-line(16px, 19px);
        font-family: $font-family-en;
        font-weight: 400;
        margin-bottom: 8px;
      }

      &__jp-name {
        @include font-line(30px, 40px);
        font-family: $font-family-serif;
        font-weight: 400;
      }

      &__catchphrase {
        @include font-line(14px, 16px);
        font-weight: 400;
      }

      &__btn {
        background-color: unset;
        border: none;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
}
.sect_4 {
}
