.sect_2 {
  padding-top: 150px;
  .second2-1 {
    padding-bottom: 150px;
    display: flex;

    &:first-child {
      @include is-max($breakpoint-max-tab) {
        flex-direction: column-reverse;
      }
    }
    @include is-max($breakpoint-max-tab) {
      flex-direction: column;
    }

    .datail-box {
      width: 40%;
      @include is-max($breakpoint-max-tab) {
        width: 100%;
        padding: 0 20px;
      }
      padding-left: 50px;
      padding-right: 45px;

      h2 {
        @include font-line(40px);
        font-weight: 500;
        font-family: $font-family-serif;
        padding-bottom: 16px;
      }

      .about-head {
        @include font-line(25px);
        font-family: $font-family-serif;
        font-weight: 600;
        padding-bottom: 16px;
      }

      .text1 {
        font-family: $font-family-en;
        @include font-line(18px);
        font-weight: 400;
        padding-bottom: 35px;
        color: $color-sub;
      }

      .paragraph1 {
        @include font-line(16px, 32px);
        font-weight: 300;
        font-family: $font-family-base;
        padding-bottom: 30px;
      }

      a {
        color: #ffff;
        background-color: $color-text01;
        padding: 13px 27px;
      }
    }

    .img-box {
      width: 60%;
      @include is-max($breakpoint-max-tab) {
        width: 100%;
      }
    }
  }

  .second2-3 {
    .l-wrap {
      @include is-min($breakpoint-sp) {
        display: flex;
      }
      .datail-box {
        @include is-min($breakpoint-sp) {
          width: 60%;
        }
        padding-left: 50px;
        padding-right: 45px;

        h2 {
          @include font-line(40px);
          font-weight: 500;
          font-family: $font-family-serif;
          padding-bottom: 16px;
        }
        .text1 {
          font-family: $font-family-en;
          @include font-line(18px);
          font-weight: 400;
          padding-bottom: 35px;
          color: $color-sub;
        }

        .paragraph1 {
          @include font-line(16px, 32px);
          font-weight: 300;
          font-family: $font-family-base;
          padding-bottom: 30px;
        }

        a {
          color: #ffff;
          background-color: $color-text01;
          padding: 13px 27px;
        }
      }

      .img-box {
        @include is-min($breakpoint-sp) {
          width: 40%;
        }
        .signature {
          padding-top: 15px;
          width: 300px;
          margin-left: auto;
          display: block;
        }
      }
    }
  }
}
